.mat-raised-button {
  height: 95%;
  width: 95%;
  background-color: aliceblue;
}

::ng-deep .mat-button-wrapper{
  display: flex;
  flex-direction: column;
}

.mat-row:hover{
  background-color: yellowgreen;
}
.header{
  background-color: white;
  width: 100%;
}
.mat-form-field{
  width: 100%;
}
.container
{
  height: 100vh;
}
