<form
  class="ion-text-center"
  [formGroup]="filterForm"
  (ngSubmit)="SendPokemonQuery()"
>
  <!-- <mat-form-field>
    <mat-radio-group name ="searchBy" formControlName="searchBy">
      <mat-radio-button value="type">Type</mat-radio-button>
      <mat-radio-button value="name">Name</mat-radio-button>
    </mat-radio-group>
  </mat-form-field> -->

  <mat-form-field>
    <input matInput name="input" formControlName="input" />
    <mat-placeholder>Pokemon name</mat-placeholder>
  </mat-form-field>
</form>

<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile
    *ngFor="let pokemon of pokemons"
    colspan="1"
    [rowspan]="1"
    [style.background]="pokemon.color"
  >
    <button mat-raised-button (click)="selectPokemon(pokemon)">
      <img [src]="pokemon.image" alt="" />
      <span>{{ pokemon.name }}</span>
    </button>
  </mat-grid-tile>
</mat-grid-list>
